doctype html
html
	head
		title Invest Data
	body
		h1 Invest Data
		h2 Effective Federal Funds Rate (DFF)
		div(id="dff" style="height:400px;")

		h2 TED Spread
		div(id="tedrate" style="height:400px;")

		script(type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js")
		script(type="text/javascript" src="js/app.js")

